@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/aciTree/css/aciTree.css" media="all">



<div class="header">

    <h1 class="page-title">@EasyResource.Value("UI_Role_Manage")</h1>
</div>

<ul class="breadcrumb">
    <li><a href="/Admin/Member">@EasyResource.Value("UI_Home")</a> <span class="divider">/</span></li>
    <li class="active">@EasyResource.Value("UI_Role_Manage")</li>
</ul>

<form>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="btn-toolbar">
                <button class="btn btn-primary" id="btnSave" onclick=" save() "><i class="icon-save"></i> @EasyResource.Value("UI_Save")</button>&nbsp;&nbsp;
                <a href="javascript:;" data-toggle="modal" class="btn" onclick="closeModal() ">@EasyResource.Value("UI_Canel")</a>
                <input id="hidId" type="hidden" value="" />
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">

                        <label>@EasyResource.Value("UI_Role_Name")</label>
                        <select id="ddlRole"></select>

                        <div id="tree" class="aciTree" style="width: 700px;">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section ScriptSection{

    @Scripts.Render("~/bundles/aciTree")

    <script>

        $(document).ready(function () {
            var rootroles = [];
            app.ajax.get('/api/page/GetRoleList', true, function (roles) {
                if (roles.length > 0) {
                    $.each(roles, function (idx, role) {
                        //rootroles.push(role.id);
                        $("#ddlRole").append("<option value='" + role.id + "'>" + role.name + "</option>");
                    });
                    //$("#ddlRole").val(rootroles.join(','));
                }
            });


            app.ajax.get('/api/page/paging', true, function (pages) {

                if (pages.items.length > 0) {
                    var rootpage = [];
                    $.each(pages.items, function (idx, page) {
                        var p = { id: page.id, label: page.name, ctrlName: page.controlName, inode: false, open: false, checkbox: true, radio: false, branch: [] }
                        if (page.actionName === "Index") {
                            rootpage.push(p);
                        }
                    });

                    $.each(pages.items, function (idx, page) {
                        if (page.actionName !== "Index") {
                            $.each(rootpage, function (idx, rpage) {
                                if (rpage.ctrlName === page.controlName) {
                                    var p1 = { id: page.id, label: page.name, ctrlName: page.controlName, inode: false, open: false, checkbox: true, radio: false, branch: [] }
                                    rpage.inode = true;
                                    rpage.branch.push(p1);
                                    rootpage.push(p1);
                                }
                            });
                        }
                    });
                    $('#tree').aciTree({
                        rootData: rootpage,
                        checkbox: true
                    });
                }
            });
        });
    </script>
}




