@using XDDEasy.Domain.ResourceAggregates
<div class="sidebar-nav">
    <a href="/" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>@EasyResource.Value("UI_Home")</a>

    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>会员管理<i class="icon-chevron-up"></i></a>
    <ul id="accounts-menu" class="nav nav-list collapse in">
        <li><a href="sign-in.html">会员列表</a></li>
        <li><a href="sign-up.html">添加会员</a></li>
    </ul>

    <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-error-sign"></i>财务管理<i class="icon-chevron-up"></i></a>
    <ul id="error-menu" class="nav nav-list collapse in">
        <li><a href="403.html">转账管理</a></li>
        <li><a href="404.html">提现管理</a></li>
        <li><a href="500.html">奖金管理</a></li>
        <li><a href="503.html">充值管理</a></li>
    </ul>

    <a href="#artice-menu" class="nav-header" data-toggle="collapse"><i class="icon-artice"></i>文章管理<i class="icon-chevron-up"></i></a>
    <ul id="artice-menu" class="nav nav-list collapse in">
        <li><a href="privacy-policy.html">分类管理</a></li>
        <li><a href="privacy-policy.html">添加分类</a></li>
        <li><a href="terms-and-conditions.html">文章管理</a></li>
        <li><a href="privacy-policy.html">添加文章</a></li>
    </ul>

    <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>系统管理<i class="icon-chevron-up"></i></a>
    <ul id="legal-menu" class="nav nav-list collapse in">
        <li><a href="privacy-policy.html">参数设置</a></li>
        <li><a href="terms-and-conditions.html">操作日志</a></li>
    </ul>

    <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>@EasyResource.Value("UI_Pages_Manage")<i class="icon-chevron-up"></i></a>
    <ul id="legal-menu" class="nav nav-list collapse in">
        <li><a href="/Admin/Pages">@EasyResource.Value("UI_Pages_Manage")</a></li>
        <li><a href="/Admin/Pages/Edit">@EasyResource.Value("UI_Add_Pages")</a></li>
    </ul>

    <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>@EasyResource.Value("UI_Resource_Manage")<i class="icon-chevron-up"></i></a>
    <ul id="legal-menu" class="nav nav-list collapse in">
        <li><a href="/Admin/Resource">@EasyResource.Value("UI_Resource_Manage")</a></li>
        <li><a href="/Admin/Resource/Add">@EasyResource.Value("UI_Add_Resource")</a></li>
    </ul>

    <a href="help.html" class="nav-header"><i class="icon-question-sign"></i>Help</a>
    <a href="faq.html" class="nav-header"><i class="icon-comment"></i>Faq</a>
</div>